#contanierBody{
    background: rgb(39, 43, 51);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

#contanierBody .container-fluid{
    width: 50%;
    margin: 1.5em;
}

.containerSearch{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-right: 0.8em;
}

.containerSearch button {
    border-radius: 10px;
    width: 6.5em;
}

.containerSearch button:hover{
    background-color: #198754;
}

@media (max-width: 768px) {
    #containerSearches{
        margin-bottom: 0px !important;
    }

    #containerSearches form{
        flex-direction: column;
    }

    .containerSearch{
        margin-bottom: 5%;
    }

    #contanierBody .container-fluid{
        width: 75%;
    }
}